
    /* CSS Code */
    /* Heading */
    body{
        background-color: black;
    }
    h1 {
        color: rgb(207, 175, 163);
        font-size: 45px;
    }
  
    /* 3*3 Grid */
    #b1, #b2, #b3, #b4, #b5, 
    #b6, #b7, #b8, #b9 {
        width: 80px;
        height: 52px;
        margin: auto;
        border: 1px solid rgb(255, 255, 255);
        border-radius: 6px;
        font-size: 30px;
        text-align: center;
        background-color: blanchedalmond;
    }
  
    /* Reset Button */
    #but {
        box-sizing: border-box;
        width: 95px;
        height: 40px;
        border: 1px solid rgb(237, 184, 248);
        margin: auto;
        border-radius: 4px;
        font-family: Verdana, 
            Geneva, Tahoma, sans-serif;
  
        background-color: rgb(244, 131, 248);
        color: white;
        font-size: 20px;
        cursor: pointer;
    }
  
    /* Player turn space */
    #print {
        font-family: Verdana, 
            Geneva, Tahoma, sans-serif;
  
        color: rgb(10, 255, 104);
        font-size: 20px;
    }
  
    /* Main Contianer */
    #main {
        text-align: center;
    }
  
    /* Game Instruction Text */
    #ins {
        font-family: Verdana, 
            Geneva, Tahoma, sans-serif;
              
        color: rgb(247, 53, 46);
        font-size: 17px;
    }
